<section id="feedback-data-wrapper">
    <h1>Feedback</h1>
    <div id="response-wrapper">
        {{#if session.flash.questionError}}
        <h3>{{session.flash.questionError}}</h3>
        {{/if}}
        {{#each questions}}
        <div class="response">
            <div class="response-card mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title"><h4 class="mdl-card__title-text">{{this.question}}</h4></div>
                <div class="mdl-card__supporting-text">
                    {{#if this.isNumeric}}
                        <h6>Average: {{this.average}}</h6>
                    {{else}}
                        {{#unless this.isMultipleChoice}}
                            {{#each this.answer}}
                                <h6>{{this}}</h6>
                            {{/each}}
                        {{/unless}}
                    {{/if}}
                    <h6><a>Responses: {{this.responses}}</a></h6>
                    {{#if this.isMultipleChoice}}
                        {{#each this.percentPerAnswer}}
                            <h6>{{this}}% answered {{@key}}</h6>
                            <div class="mdl-progress mdl-js-progress" style="width: 100%">
                                <div class="progressbar bar bar1" style="width: {{this}}%;"></div>
                                <div class="bufferbar bar bar2" style="width: 100%;"></div>
                                <div class="auxbar bar bar3" style="width: 0%;"></div>
                            </div>
                        {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>